/* メニューの配置 */
/* .gnav {
	position: absolute;
	top: 0;
	left: 0;
} */
/* メニューの開閉　1段目　左の画面外からアニメーションで引き出し表示 */
.toggle {
	position: relative;
}
#inputTask {
	width: 100%;
}
.menu1 {
	position: absolute;
	width: 180px;
	left: 100%;
	top: 0px;
	text-align: left;
	background-color: #FFF;
	overflow: visible;
	transition: left 0.3s linear;
	display: none;
	padding: 0;
	margin: 0;
}
.menu1.visible {
	left: 0%;
	transition: left 0.3s linear;
	display: block;
	width: 100vw;
}
/* メニューの開閉　2段目 */
.toggle2-a {
	box-sizing: border-box;
	display: table;
	position: relative;
	height: 40px;
	/* width: 100%; */
	width: 280px;
	width: 100vw;
	/* padding: 0 4px; */
	padding: 0;
	border-bottom: 1px solid #654d44;
	border-left: 1px solid #654d44;
	border-right: 1px solid #654d44;
}
.toggle2-inner {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	cursor: pointer;
	background-color: #FFF;
}
.menu2 {
	position: absolute;
	left: -200%;
	/* width: 100%; */
	border-top: 1px solid #654d44;
	display: none;
	padding: 0;
	z-index: 10;
	width: 100vw;

}
.menu2 li {
	display: table;
	width: 100%;
	height: 40px;
}
.menu2 li>a {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	background-color: #FFF;
	border-bottom: 1px solid #654d44;
	border-left: 1px solid #654d44;
	border-right: 1px solid #654d44;
	padding: 0 4px;
	text-decoration: none;
}
.visible2 .menu2 {
	left: 0px;
	top: 0;
	/* left: 100%; */
	/* top: 50%; */

	margin-top: -1px;
	display: block;
}
.overlay{
	position: absolute;
	left: 0;
	height: 100vh;
	top: 0;
	width: 100vw;
	background-color: #efeff4;
	z-index: -1;
}
.overlay-a {
	z-index: 0;
}
#category1{
	position: absolute;
	top: 0;
}
#category2{
	position: absolute;
	top: -40px;	
}
#category3{
	position: absolute;
	top: -80px;
}
#category4{
	position: absolute;
	top: -120px;
}
#category5{
	position: absolute;
	top: -160px;
}